@use "./vars" as *;

// ====== layout =====
@mixin positionCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

// ====== Header ======
@mixin myPageBtn{
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url('/assets/images/icon_my.svg') no-repeat center / 2.4rem auto;
  margin-left: 2rem;
}

@mixin searchBtn($parent, $width:3.6rem, $height: 3.6rem){
  @if $parent == "search-form"{
    background: $blue_00 url('/assets/images/icon_search.svg') no-repeat center / 1.6rem auto;
  } @else {
    background: url('/assets/images/icon_search_blk.svg') no-repeat center / 100% auto;
  }
  width: $width;
  height: $height;
  @content;
}

// ====== responsive ======
@mixin screenWidth($width) {
  @media (max-width: $width) {
    @content;
  }
}