@use "../abstracts/" as *;
@use "../layout/" as *;

/************** HEADER : main header *************/
header {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.header-inner {
  display: flex;
  flex-direction: column;
}
.main-header {
  order: 2;
}
.main-header-inner {
  @extend .padInline;
  padding-block: 0.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    width: 17.9rem;
    @include screenWidth($tablet) {
      width: 14.3rem;
    }
    a {
      display: inline-block;
      width: 100%;
      height: auto;
    }
    img {
      width: 100%;
    }
  }
  .nav-icons {
    @include screenWidth($tablet) {
      display: flex;
      align-items: center;
    }
  }
  .page-nav {
    flex: 1;
    margin-right: calc(var(--logo_width) - var(--btn-menu_width));
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7.2rem;
    }
    a {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2em;
    }

    @include screenWidth($tablet) {
      display: none;
    }
  }
}

/************** HEADER : utility *************/
.utility {
  border-bottom: 0.1rem solid $gray_e5;
  &-inner {
    @extend .padInline;
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .search-form {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    input {
      width: 20.5rem;
      height: 3.6rem;
      padding-inline: 1.6rem;
      border-radius: 3.6rem;
      border: 0.1rem solid $gray_cf;
    }
    input::placeholder {
      font-size: 1.6rem;
    }
  }

  @include screenWidth($tablet) {
    display: none;
  }
}
/************** HEADER : GNB *************/
@keyframes gnbShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gnb {
  display: none;
  width: 100%;
  border-top: 0.1rem solid $gray_e5;
  box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.1);
  background-color: #fff;
  transition: 0.4s;
  header.open & {
    display: block;
    animation: gnbShow 0.35s linear;
  }
  &-wrap {
    padding-inline: 1rem;
    padding-block: 4rem;
    display: flex;
  }
  &-col {
    flex: 1;
    padding-inline: 2rem;
    h2 {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.5em;
      display: inline-block;
      padding-right: 2rem;
      background: url(../../images/icon_chevron_R.svg) no-repeat center right /
        1.6rem auto;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      li {
        // min-width: calc(100% / 3);
        margin-top: 1rem;
        text-wrap: nowrap;
      }
      a {
        font-size: 1.6rem;
        color: $gray_66;
      }
    }
  }
  &-col + .gnb-col {
    border-left: 0.1rem solid $gray_e5;
  }

  // responsive gnb
  @include screenWidth($tablet) {
    // gnb
    height: 100vh;
    &-wrap {
      flex-direction: column;
      gap: 3rem;
      padding-inline: 0;
    }
    .gnb-col {
      border: none;
      ul {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

/************** SECTION : QUICK *************/
#quick {
  ul {
    @extend .padInline;
    padding-block: 3rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-around;
    justify-items: center;
    li {
      width: 100%;
      max-width: 15rem;
      border-radius: 2rem;
      transition: 0.35s;
      &:hover {
        box-shadow: 0 0 3rem rgba($color: #000000, $alpha: 0.1);
      }
    }
    @for $i from 1 through 7 {
      li:nth-child(#{$i}) a {
        background-image: url(../../images/icon-quick#{$i}.svg);
      }
    }
    a {
      font-size: 1.8rem;
      font-weight: 600;
      text-wrap: nowrap;
      display: flex;
      justify-content: center;
      align-items: end;
      width: 100%;
      aspect-ratio: 1;
      padding: 3.5rem 2rem;
      background-repeat: no-repeat;
      background-position: center top 3rem;
      background-size: 6rem auto;
    }
  }

  // responsive #quick
  @include screenWidth($tablet) {
    ul {
      grid-template-columns: repeat(auto-fit, max(12rem));
      gap: 1rem;
      li {
        border-radius: 1rem;
        &:hover {
          box-shadow: 0 0 3rem rgba($color: #000000, $alpha: 0.1);
        }
      }
      a {
        font-size: 1.4rem;
        text-wrap: wrap;
        padding: 2.5rem;
        background-size: 4.8rem auto;
      }
    }
  }
  @include screenWidth($mobile) {
    ul {
      grid-template-columns: repeat(auto-fit, max(10rem));
      a {
        font-size: 1.3rem;
        padding: 1.5rem 2rem;
        background-position: center top 1.5rem;
        background-size: 4rem auto;
        text-align: center;
      }
    }
  }
}

/************** SECTION : MEGA PICK *************/
#mega-pick {
  @extend .contentPb;
  margin-top: 4rem;
  .pick-inner {
    @extend .padInline;
    overflow: hidden;
  }
  .btn-more{
    margin-top: 2rem;
    display: none;
    @include screenWidth($tablet_s){
      display: block;
    }
  }
}

/************** MAIN BANNER *************/
.main-banner {
  @extend .contentPb;
  > div {
    @extend .padInline;
  }
  a {
    display: block;
    img {
      width: 100%;
      &.banner-img-m {
        display: none;
      }
      @include screenWidth($tablet) {
        &.banner-img-pc {
          display: none;
        }
        &.banner-img-m {
          display: block;
        }
      }
    }
  }
}

/************** BESTSELLER *************/
#bestseller {
  position: relative;
  &::before {
    content: "";
    width: 65rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $blue_d5;
    border-radius: 0 $radius_bg_pc $radius_bg_pc 0;
    @include screenWidth($tablet) {
      width: 45%;
      border-radius: 0 $radius_bg_m $radius_bg_m 0;
    }
  }
  > div {
    @extend .padInline;
  }
  .heading {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding-block: 5rem;
    @include screenWidth($tablet) {
      justify-content: space-between;
    }
  }
  .bestseller-tab {
    li {
      font-size: 1.8rem;
      font-weight: 700;
      display: inline-block;
      padding: 1.5rem;
      cursor: pointer;
      @include screenWidth($tablet) {
        padding: 1rem;
        font-size: 1.6rem;
      }
      @include screenWidth($mobile) {
        padding: 0.5rem;
        font-size: 1.4rem;
      }
      &.active {
        color: $blue_00;
        position: relative;
        &::before {
          content: "";
          width: 0.6rem;
          aspect-ratio: 1;
          border-radius: 50%;
          background-color: $blue_00;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          @include screenWidth($mobile) {
            width: 0.4rem;
            bottom: -0.2rem;
          }
        }
      }
    }
  }
}

/************** YOUTUBE *************/
#youtube {
  background-color: $blue_d5;
  position: relative;
  isolation: isolate;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: $radius_bg_pc 0 0 0;
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  > div {
    @extend .padInline;
    @extend .contentPb;
    padding-top: 15rem;
  }
  .heading{
    display: flex;
    justify-content: space-between;
  }
  .btn-more{
    margin-top: 1rem;
    display: none;
    @include screenWidth($tablet_s){
      display: block;
    }
  }
}
