@use "../abstracts/" as *;
@use "../layout/" as *;

/************** HEADER : main header *************/
header {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.header-inner {
  display: flex;
  flex-direction: column;
}
.main-header {
  order: 2;
}
.main-header-inner {
  @extend .padInline;
  padding-block: 0.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    width: 17.9rem;
    @include screenWidth($tablet) {
      width: 14.3rem;
    }
    @include screenWidth($tablet_s) {
      width: 12.5rem;
    }
    a {
      display: inline-block;
      width: 100%;
      height: auto;
    }
    img {
      width: 100%;
    }
  }
  .nav-icons {
    @include screenWidth($tablet) {
      display: flex;
      align-items: center;
    }
  }
  .page-nav {
    flex: 1;
    margin-right: calc(var(--logo_width) - var(--btn-menu_width));
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7.2rem;
    }
    a {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2em;
    }

    @include screenWidth($tablet) {
      display: none;
    }
  }
}

/************** HEADER : utility *************/
.utility {
  border-bottom: 0.1rem solid $gray_e5;
  &-inner {
    @extend .padInline;
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .search-form {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    input {
      width: 20.5rem;
      height: 3.6rem;
      padding-inline: 1.6rem;
      border-radius: 3.6rem;
      border: 0.1rem solid $gray_cf;
    }
    input::placeholder {
      font-size: 1.6rem;
    }
  }

  @include screenWidth($tablet) {
    display: none;
  }
}
/************** HEADER : GNB *************/
@keyframes gnbShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gnb {
  display: none;
  width: 100%;
  border-top: 0.1rem solid $gray_e5;
  box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.1);
  background-color: #fff;
  transition: 0.4s;
  header.open & {
    display: block;
    animation: gnbShow 0.35s linear;
  }
  &-wrap {
    padding-inline: 1rem;
    padding-block: 4rem;
    display: flex;
  }
  &-col {
    flex: 1;
    padding-inline: 2rem;
    h2 {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.5em;
      display: inline-block;
      padding-right: 2rem;
      background: url('../../images/icon_chevron_R.svg') no-repeat center right /
        1.6rem auto;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      li {
        // min-width: calc(100% / 3);
        margin-top: 1rem;
        text-wrap: nowrap;
      }
      a {
        font-size: 1.6rem;
        color: $gray_66;
      }
    }
  }
  &-col + .gnb-col {
    border-left: 0.1rem solid $gray_e5;
  }

  // responsive gnb
  @include screenWidth($tablet) {
    // gnb
    height: 100vh;
    &-wrap {
      flex-direction: column;
      gap: 3rem;
      padding-inline: 0;
    }
    .gnb-col {
      border: none;
      ul {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

/************** SECTION : QUICK *************/
#quick {
  ul {
    @extend .padInline;
    padding-block: 3rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-around;
    justify-items: center;
    li {
      width: 100%;
      max-width: 15rem;
      border-radius: 2rem;
      transition: 0.35s;
      &:hover {
        box-shadow: 0 0 3rem rgba($color: #000000, $alpha: 0.1);
      }
    }
    @for $i from 1 through 7 {
      li:nth-child(#{$i}) .quick-icon {
        background-image: url('../../images/icon-quick#{$i}.svg');
      }
    }
    a {
      font-size: 1.8rem;
      font-weight: 600;
      text-wrap: nowrap;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      // justify-content: center;
      // align-items: end;
      width: 100%;
      aspect-ratio: 1;
      padding: 3.5rem 2rem;
    }
    .quick-icon {
      width: 6rem;
      aspect-ratio: 1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
    }
  }

  // responsive #quick
  @include screenWidth($tablet) {
    ul {
      grid-template-columns: repeat(auto-fit, max(12rem));
      li {
        border-radius: 1rem;
        &:hover {
          box-shadow: 0 0 3rem rgba($color: #000000, $alpha: 0.1);
        }
      }
      a {
        font-size: 1.4rem;
        text-wrap: wrap;
        padding: 2.5rem;
      }
      .quick-icon {
        width: 4.8rem;
      }
    }
  }
  @include screenWidth($mobile) {
    ul {
      grid-template-columns: repeat(auto-fit, max(9rem));
      a {
        font-size: 1.3rem;
        padding: 1rem;
        text-align: center;
      }
      .quick-icon {
        width: 4rem;
      }
    }
  }
  @include screenWidth($mobile_s) {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
      gap: 0;
      a {
        padding: 0.7rem;
        font-size: 1.2rem;
      }
      .quick-icon {
        width: 3.5rem;
      }
    }
  }
}

/************** SECTION : MEGA PICK *************/
#mega-pick {
  @extend .contentPb;
  margin-top: 4rem;
  @include screenWidth($mobile_s) {
    margin-top: 2rem;
  }
  .pick-inner {
    @extend .padInline;
    overflow: hidden;
  }
  .btn-more {
    margin-top: 2rem;
    display: none;
    @include screenWidth($tablet_s) {
      display: block;
    }
    @include screenWidth($mobile_s) {
      margin-top: 1rem;
    }
  }
}

/************** MAIN BANNER *************/
.main-banner {
  @extend .contentPb;
  > div {
    @extend .padInline;
  }
  a {
    display: block;
    img {
      width: 100%;
      &.banner-img-m {
        display: none;
      }
      @include screenWidth($tablet) {
        &.banner-img-pc {
          display: none;
        }
        &.banner-img-m {
          display: block;
        }
      }
    }
  }
}

/************** BESTSELLER *************/
#bestseller {
  position: relative;
  &::before {
    content: "";
    width: 65rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $blue_d5;
    border-radius: 0 $radius_bg_pc $radius_bg_pc 0;
    @include screenWidth($tablet) {
      width: 45%;
      border-radius: 0 $radius_bg_m $radius_bg_m 0;
    }
  }
  > div {
    @extend .padInline;
  }
  .heading {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding-block: 5rem;
    @include screenWidth($tablet) {
      justify-content: space-between;
    }
  }
  .bestseller-tab {
    li {
      font-size: 1.8rem;
      font-weight: 700;
      display: inline-block;
      padding: 1.5rem;
      cursor: pointer;
      @include screenWidth($tablet) {
        padding: 1rem;
        font-size: 1.6rem;
      }
      @include screenWidth($mobile) {
        padding: 0.5rem;
        font-size: 1.4rem;
      }
      &.active {
        color: $blue_00;
        position: relative;
        &::before {
          content: "";
          width: 0.6rem;
          aspect-ratio: 1;
          border-radius: 50%;
          background-color: $blue_00;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          @include screenWidth($mobile) {
            width: 0.4rem;
            bottom: -0.2rem;
          }
        }
      }
    }
  }
}

/************** YOUTUBE *************/
#youtube {
  background-color: $blue_d5;
  position: relative;
  isolation: isolate;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: $radius_bg_pc 0 0 0;
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  > div {
    @extend .padInline;
    @extend .contentPb;
    padding-top: 15rem;
    @include screenWidth($mobile) {
      padding-top: 5rem;
    }
  }
  .heading {
    display: flex;
    justify-content: space-between;
  }
  .btn-more {
    margin-top: 1rem;
    display: none;
    @include screenWidth($tablet_s) {
      display: block;
    }
  }
}
/************** EVENT *************/
#event {
  @extend .contentPb;
  > div {
    @extend .padInline;
    display: flex;
    @include screenWidth($tablet) {
      display: block;
    }
  }
  .heading {
    display: flex;
    flex-direction: column;
    width: 15%;
    @include screenWidth($tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-bottom: 3rem;
    }
    @include screenWidth($mobile_s) {
      padding-bottom: 2.4rem;
    }
    a {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.5em;
      display: inline-block;
      margin-block: 4rem 12rem;
      @include screenWidth($tablet) {
        margin: 0;
        font-size: 1.4rem;
      }
      @include screenWidth($tablet_s) {
        margin: 0;
        font-size: 1.2rem;
      }
      &::after {
        content: "";
        display: inline-block;
        width: 2rem;
        aspect-ratio: 1;
        background: $blue_00 url('../../images/icon_chevron_W.svg') center /
          1.5rem auto;
        border-radius: 50%;
        vertical-align: middle;
        margin-left: 0.5rem;
        @include screenWidth($tablet) {
          width: 1.5rem;
        }
      }
    }
  }
  .event-swiper {
    flex: 1;
    margin-left: auto;
    margin-right: 0;
    max-width: 110rem;
  }
}
/************** NOTICE *************/
#notice {
  @extend .contentPb;
  > div {
    @extend .padInline;
    text-align: center;
  }
  .board {
    width: 100%;
    padding-top: 3.2rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    @include screenWidth($tablet) {
      flex-direction: column;
    }
    @include screenWidth($mobile_s) {
      padding-top: 2.4rem;
    }
    li {
      width: 33.3%;
      @include screenWidth($tablet) {
        width: 100%;
      }
      a {
        display: block;
        padding: 3.2rem;
        background-color: $blue_f5;
        border-radius: 2rem;
        transition: 0.35s;
        &:hover {
          box-shadow: 0 0 3rem rgba($color: #000000, $alpha: 0.1);
        }
        @include screenWidth($tablet) {
          padding: 2rem;
        }
      }
      h3 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1em;
        padding-bottom: 2rem;
        max-width: 100%;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include screenWidth($tablet) {
          font-size: 1.8rem;
          padding-bottom: 1rem;
        }
        @include screenWidth($tablet_s) {
          font-size: 1.6rem;
        }
      }
      span {
        font-size: 1.6rem;
        color: $gray_99;
        @include screenWidth($tablet) {
          font-size: 1.4rem;
        }
      }
    }
  }
}

/************** COMMUNITY *************/
#community {
  @extend .contentPb;
  > div {
    @extend .padInline;
    text-align: center;
    .heading-title {
      letter-spacing: 0.1rem;
    }
  }
  .board {
    padding-top: 6rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    @include screenWidth($tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include screenWidth($mobile) {
      padding-top: 3.2rem;
    }
    @include screenWidth($mobile_s) {
      padding-top: 2.4rem;
    }
    li {
      a {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        border: 1px solid $gray_dd;
        padding: 2.5rem 3rem;
        border-radius: 2rem;
        transition: 0.35s;
        &:hover {
          border: 0.1rem solid #000;
          box-shadow: 0 0 2rem rgba($color: #000000, $alpha: 0.1);
        }
        @include screenWidth($tablet) {
          padding: 1.5rem;
          border-radius: 1rem;
        }
        @include screenWidth($tablet_s) {
          padding: 1rem;
        }
        @include screenWidth($mobile_s) {
          gap: 1rem;
        }
        img {
          width: 2.5rem;
          @include screenWidth($tablet) {
            width: 2rem;
          }
        }
        h3 {
          font-size: 1.8rem;
          font-weight: 800;
          line-height: 1em;
          padding-right: 2rem;
          flex: 1;
          text-align: left;
          background: url('../../images/icon_chevron_R.svg') no-repeat right
            center / 1.8rem auto;
          @include screenWidth($tablet) {
            font-size: 1.6rem;
          }
          @include screenWidth($tablet_s) {
            font-size: 1.4rem;
          }
          @include screenWidth($mobile_s) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

/************** FOOTER *************/
footer {
  .footer-top {
    background-color: #000;
    color: #fff;
    > div {
      @extend .padInline;
      padding-block: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include screenWidth($tablet) {
        flex-direction: column;
      }
    }
    .footer-nav {
      @include screenWidth($tablet) {
        width: 100%;
        padding-bottom: 1.5rem;
        border-bottom: 0.1rem solid $gray_33;
      }
    }
    .footer-nav ul {
      display: flex;
      flex-wrap: wrap;
      gap: 6rem;
      @include screenWidth(1400px) {
        gap: 2rem;
      }
      @include screenWidth($tablet) {
        justify-content: center;
      }
      a {
        font-size: 1.6rem;
        font-weight: 500;
        display: inline-block;
        white-space: nowrap;
        @include screenWidth($tablet) {
          font-size: 1.4rem;
          line-height: 1;
        }
        @include screenWidth($tablet_s) {
          font-size: 1.2rem;
        }
      }
    }
    .link-wrap {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      @include screenWidth($tablet) {
        width: 100%;
        justify-content: space-between;
        margin-top: 1.5rem;
      }
      .sns {
        flex: 1;
        li {
          display: inline-block;
          margin-right: 2.4rem;
          @include screenWidth($mobile) {
            margin-right: 1.5rem;
          }
        }
        a {
          $sns: (insta, youtube, ncafe);
          @each $i in $sns {
            &.icon-#{$i} {
              background: url('../../images/icon_#{$i}_w.svg')
                no-repeat
                center /
                100%
                auto;
            }
          }
          display: inline-block;
          width: 2.4rem;
          aspect-ratio: 1;
          @include screenWidth($tablet) {
            width: 2rem;
          }
        }
      }
      .family {
        position: relative;
        &-list {
          width: 100%;
          height: 20rem;
          padding: 0;
          border: 0.1rem solid $gray_cf;
          border-radius: 1rem 0 0 1rem;
          overflow-y: scroll;
          top: 105%;
          left: 0;
          z-index: 999;
          a {
            font-size: 1.4rem;
            display: block;
            padding: 1em;
            @include screenWidth($tablet) {
              font-size: 1.2rem;
            }
            @include screenWidth($tablet_s) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    > div {
      @extend .padInline;
      padding-block: 6rem;
      @include screenWidth($tablet) {
        padding-block: 4rem;
      }
    }
    .logo {
      width: 18.5rem;
      padding-bottom: 1rem;
      @include screenWidth($tablet) {
        margin: 0 auto;
        width: 16rem;
      }
      @include screenWidth($tablet_s) {
        width: 14rem;
      }
      a {
        display: block;
      }
      img {
        width: 100%;
      }
    }
  }
  .footer-info {
    display: flex;
    justify-content: space-between;
    @include screenWidth($tablet) {
      flex-direction: column;
      gap: 1.5rem;
    }
    &-inner {
      p {
        display: flex;
        flex-wrap: wrap;
        @include screenWidth($tablet) {
          justify-content: center;
        }
      }
      span {
        padding-inline: 1em;
        font-size: 1.4rem;
        line-height: 1.5em;
        white-space: nowrap;
        position: relative;
        @include screenWidth($tablet) {
          padding-inline: 0.5em;
        }
        @include screenWidth($tablet_s) {
          font-size: 1.2rem;
        }
        & + span {
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 70%;
            border-left: 0.1rem solid $gray_dd;
            @include screenWidth($tablet) {
              height: 50%;
            }
          }
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
  .copyright {
    font-size: 1.3rem;
    letter-spacing: 0.3px;
    color: $gray_99;
    align-self: flex-end;
    text-wrap: nowrap;
    @include screenWidth($tablet) {
      font-size: 1.4rem;
      width: 100%;
      text-align: center;
    }
    @include screenWidth($tablet_s) {
      font-size: 1.2rem;
    }
  }
}
