@use "../abstracts/" as *;

#container{
  margin-top: var(--headerHeight, 12rem);
}

.web-center{
  max-width: $webSize;
  margin: 0 auto;
}

.padInline{
  padding-inline: 3rem;

  @include screenWidth($tablet){
    padding-inline: 2rem;
  }
}

.contentMb{
  margin-bottom: 15rem;

  @include screenWidth($tablet){
    margin-bottom: 6.4rem;
  }
}