@use "../abstracts/" as *;

.utility {
  .search-form {
    $parent: "search-form";
    button {
      @include searchBtn($parent, 3.6rem, 3.6rem);
      border-radius: 50%;
    }
  }
  .my-page {
    @include myPageBtn;
    @include screenWidth($tablet) {
      display: none;
    }
  }
}

.nav-icons {
  .btn-menu {
    width: 2.4rem;
    height: 1.6rem;
    position: relative;
    span {
      width: 100%;
      height: 0.2rem;
      background-color: $gray_11;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.4s;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: 100%;
      }
    }
    header.open & {
      span:first-child {
        transform: rotate(45deg);
        top: 50%;
      }
      span:nth-child(2) {
        opacity: 0;
        visibility: hidden;
      }
      span:last-child {
        transform: rotate(-45deg);
        top: 50%;
      }
    }
    @include screenWidth($tablet) {
      margin-left: 2rem;
    }
  }
  $parent: "nav-icons";
  .btn-search {
    display: none;
    @include screenWidth($tablet) {
      @include searchBtn($parent, 2.2rem, 2.2rem);
      display: block;
    }
  }
  .my-page {
    display: none;
    @include screenWidth($tablet) {
      @include myPageBtn;
    }
  }
}

// swiper prev/next button
  @mixin swiperArrowBtn($direction) {
    .swiper-button-#{$direction} {
      @if $direction == "prev" {
        left: 0;
        transform: rotate(180deg);
      } @else {
        right: 0;
        transform: rotate(0);
      }
    }
  }
  @mixin controlsAlign {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    @content;
  }
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 0;
  }
  .swiper-button-prev.type1,
  .swiper-button-next.type1 {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.1);
    position: absolute;
    top: 50%;
    background: #fff url(../../images/icon_chevron_R.svg) no-repeat center /
      1.6rem auto;
  }
  .swiper-button-prev.type2,
  .swiper-button-next.type2 {
    margin-top: 0;
    position: static;
    width: 4rem;
    background: #fff url(../../images/icon_chevron_R2.svg) no-repeat center /
      2.4rem auto;
    @include screenWidth($tablet) {
      display: none;
    }
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: "";
  }
  @include swiperArrowBtn("prev");
  @include swiperArrowBtn("next");

// 더보기 버튼
.btn-more{
  font-size: 1.4rem;
  line-height: 2.4em;
  // padding-inline: 3.5rem;
  display: block;
  width: 12rem;
  border: 0.1rem solid $gray_cf;
  border-radius: 2.4rem;
  margin: 0 auto;
}

// 패밀리사이트 버튼
.btn-family{
  font-size: 1.4rem;
  text-align: left;
  line-height: 3em;
  padding-inline: 1.5em;
  width: 16rem;
  border: 0.1rem solid $gray_99;
  border-radius: 3rem;
  display: flex;
  justify-content: space-between;
  &:after{
    content: '▾';
    color: #fff;
  }
  @include screenWidth($tablet) {
    width: 12.8rem;
    font-size: 1.2rem;
    padding-inline: 1em;
  }
  @include screenWidth($tablet_s) {
    width: 11rem;
    font-size: 1rem;
    padding-inline: 1em;
  }
}

//맞춤도서 버튼
.btn-quickSearch{
  width: 10rem;
  aspect-ratio: 1;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 999;
  border: 0.2rem solid $blue_00;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  box-shadow: 0 2rem 3rem rgba($color: #000000, $alpha: 0.1);
  @include screenWidth($tablet) {
    width: 6.5rem;
    aspect-ratio: 1;
    gap: 0.5rem;
    bottom: 1.5rem;
    right: 1.5rem;
  }
  @include screenWidth($tablet_s) {
    scale: 0.85;
  }
  i{
    display: block;
    width: 3.2rem;
    aspect-ratio: 1;
    background: url(../../images/icon-quickSearch.svg) no-repeat center / 100% auto;
    @include screenWidth($tablet) {
      width: 2.4rem;
    }
  }
  span{
    font-size: 1.6rem;
    font-weight: 700;
    color: $blue_00;
    @include screenWidth($tablet) {
      font-size: 1.2rem;
    }
  }
}

// login 버튼
#signin{
  .btn-area{
    text-align: right;
    button{
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      font-size: 1.8rem;
      transition: 0.35s;
      @include screenWidth(1024px){
        width: 100%;
        height: auto;
        line-height: 2.5em;
        border-radius: 2.5rem;
        margin-top: 3.2rem;
        font-size: 1.6rem;
      }
      @include screenWidth($mobile_s){
        margin-top: 2.5rem;
      }
    }
    .btn-login{
      background-color: $blue_00;
      color: #fff;
      margin-right: auto;
      &:hover{
        filter: brightness(0.9);
      }
    }
    .btn-signup{
      border: 0.1rem solid $blue_00;
      color: $blue_00;
      &:hover{
        color: #fff;
        background-color: $blue_00;
      }
    }
  } 
}

//간편로그인 버튼
.easy-btns{
  display: flex;
  gap: 1rem;
  @include screenWidth($tablet){
    flex-direction: column;
  }
  button{
    display: inline-flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5em;
    border-radius: 2.5rem;
    border: 0.1rem solid $gray_cf;
    padding-inline: 4rem;
    @include screenWidth($tablet){
      font-size: 1.6rem;
      font-weight: 600;
    }
    @include screenWidth($tablet_s){
      font-size: 1.4rem;
    }
    @include screenWidth($mobile_s){
      font-size: 1.2rem;
      padding-inline: 3rem;
    }
  }
}