@use "../abstracts/" as *;

.utility {
  .search-form {
    $parent: "search-form";
    button {
      @include searchBtn($parent, 3.6rem, 3.6rem);
      border-radius: 50%;
    }
  }
  .my-page {
    @include myPageBtn;
    @include screenWidth($tablet) {
      display: none;
    }
  }
}

.nav-icons {
  .btn-menu {
    width: 2.4rem;
    height: 1.6rem;
    position: relative;
    span {
      width: 100%;
      height: 0.2rem;
      background-color: $gray_11;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.4s;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: 100%;
      }
    }
    header.open & {
      span:first-child {
        transform: rotate(45deg);
        top: 50%;
      }
      span:nth-child(2) {
        opacity: 0;
        visibility: hidden;
      }
      span:last-child {
        transform: rotate(-45deg);
        top: 50%;
      }
    }
    @include screenWidth($tablet) {
      margin-left: 2rem;
    }
  }
  $parent: "nav-icons";
  .btn-search {
    display: none;
    @include screenWidth($tablet) {
      @include searchBtn($parent, 2.2rem, 2.2rem);
      display: block;
    }
  }
  .my-page {
    display: none;
    @include screenWidth($tablet) {
      @include myPageBtn;
    }
  }
}

// swiper prev/next button
  @mixin swiperArrowBtn($direction) {
    .swiper-button-#{$direction} {
      @if $direction == "prev" {
        left: 0;
        transform: rotate(180deg);
      } @else {
        right: 0;
        transform: rotate(0);
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 0;
  }
  .swiper-button-prev.type1,
  .swiper-button-next.type1 {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.1);
    position: absolute;
    top: 50%;
    background: #fff url(../../images/icon_chevron_R.svg) no-repeat center /
      1.6rem auto;
  }
  .swiper-button-prev.type2,
  .swiper-button-next.type2 {
    margin-top: 0;
    position: static;
    width: 4rem;
    background: #fff url(../../images/icon_chevron_R2.svg) no-repeat center /
      2.4rem auto;
    @include screenWidth($tablet) {
      display: none;
    }
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: "";
  }
  @include swiperArrowBtn("prev");
  @include swiperArrowBtn("next");

// 더보기 버튼
.btn-more{
  font-size: 1.4rem;
  line-height: 2.4em;
  // padding-inline: 3.5rem;
  display: block;
  width: 12rem;
  border: 0.1rem solid $gray_cf;
  border-radius: 2.4rem;
  margin: 0 auto;
}