@use "./vars" as *;

@mixin myPageBtn{
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../../images/icon_my.svg) no-repeat center / 2.4rem auto;
  margin-left: 2rem;
}

@mixin searchBtn($parent, $width:3.6rem, $height: 3.6rem){
  @if $parent == "search-form"{
    background: $blue_00 url(../../images/icon_search.svg) no-repeat center / 1.6rem auto;
  } @else {
    background: url(../../images/icon_search_blk.svg) no-repeat center / 100% auto;
  }
  width: $width;
  height: $height;
  @content;
}

// responsive
@mixin screenWidth($width) {
  @media (max-width: $width) {
    @content;
  }
}
// responsive