$webSize : 150rem;

/*********** header vars ***********/
:root{
  --logo_width: 17.9rem;
  --btn-menu_width: 2.4rem;
}

/*********** color ***********/
$gray_11: #111;
$gray_66: #666666;
$gray_cf: #CFCFCF;
$gray_e5: #E5E5E5;

$blue_f5: #F5F8FC;
$blue_c8: #C8DEFF;
$blue_d5: #D5E8FC;
$blue_00: #0082FF;

/*********** border-radius ***********/
$radius_bg_pc: 10rem;
$radius_bg_m: 6rem;

/*********** responsive ***********/
$tablet: 990px;
$tablet_s: 750px;
$mobile: 570px;
