$webSize : 150rem;

/*********** header vars ***********/
:root{
  --logo_width: 17.9rem;
  --btn-menu_width: 2.4rem;
}

/*********** color ***********/
$gray_11: #111;
$gray_cf: #CFCFCF;

$blue_c8: #C8DEFF;
$blue_00: #0082FF;

/*********** responsive ***********/
$tablet: 990px;
